{% extends 'base.html.twig' %}

{% block title %}Edit CorrectiveAction{% endblock %}

{% block body %}
    <h1>Edit CorrectiveAction</h1>

    {{ include('corrective_action/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('corrective_action_index') }}">back to list</a>

    {{ include('corrective_action/_delete_form.html.twig') }}
{% endblock %}
